<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Game</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Rex</string>
			<key>Division</key>
			<real>0</real>
			<key>Tees</key>
			<integer>0</integer>
			<key>Handicap</key>
			<real>39.5</real>
			<key>PlayerPointer</key>
			<integer>0</integer>
			<key>Scores</key>
			<array>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Emily</string>
			<key>Division</key>
			<integer>1</integer>
			<key>Tees</key>
			<integer>0</integer>
			<key>Handicap</key>
			<string>26.9</string>
			<key>PlayerPointer</key>
			<integer>1</integer>
			<key>Scores</key>
			<array>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Player3</string>
			<key>Division</key>
			<real>0</real>
			<key>Tees</key>
			<string>0</string>
			<key>Handicap</key>
			<real>30.5</real>
			<key>PlayerPointer</key>
			<integer>2</integer>
			<key>Scores</key>
			<array>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Player4</string>
			<key>Divsion</key>
			<real>0</real>
			<key>Tees</key>
			<string>0</string>
			<key>Handicap</key>
			<real>30</real>
			<key>PlayerPointer</key>
			<integer>3</integer>
			<key>Scores</key>
			<array>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Player5</string>
			<key>Division</key>
			<real>0</real>
			<key>Tees</key>
			<integer>0</integer>
			<key>Handicap</key>
			<real>30.5</real>
			<key>PlayerPointer</key>
			<integer>4</integer>
			<key>Scores</key>
			<array>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Stableford</key>
					<integer>0</integer>
					<key>Par</key>
					<integer>0</integer>
					<key>Total</key>
					<integer>0</integer>
					<key>Penalties</key>
					<integer>0</integer>
					<key>Putts</key>
					<integer>0</integer>
					<key>Strokes</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>CurrentCourse</key>
	<string></string>
	<key>Score</key>
	<integer>0</integer>
	<key>HoleNumber</key>
	<integer>0</integer>
	<key>NumberOfPlayers</key>
	<real>4.3</real>
	<key>SavedRound</key>
	<true/>
	<key>StartDateTime</key>
	<date>1970-01-01T00:00:00Z</date>
	<key>EndDateTime</key>
	<date>1970-01-01T00:00:00Z</date>
</dict>
</plist>
